[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pandas = "*"

[dev-packages]
praw = "*"
pandas = "*"
openpyxl = "*"

[scripts]
init = "python getter.py"
start = "python runner.py"
out = "python to_excel.py"
all = "python getter.py && python runner.py && python to_excel.py"

[requires]
python_version = "3.9"
